@font-face {
    font-family: SuperMagic;
    src: url(fonts/Super\ Magic.ttf);
}

@font-face {
    font-family: LouisGeorgeCafeLight;
    src: url(fonts/Louis\ George\ Cafe\ Light.ttf);
}

h1 {
    font-family: SuperMagic;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 0 0 15px 15px;
    padding: 0;
}

p {
    font-family: LouisGeorgeCafeLight;
    letter-spacing: 1px;
    color: #333333;
}

/**************** Home Page *****************/
.aboutP {
    font-size: 42px;
    margin: 15px 30px 15px 15px;
}


.aboutBox {
    grid-area: aboutBox;
    background-color: aqua;
    border-radius: 25px;
}

.box {
    border-radius: 25px;
    background-color: aqua;
    display: flex;
    align-items: flex-end;

}

.titleBox {
    grid-area: titleBox;
}

.gridBox1 {
    grid-area: gridBox1;
}

.gridBox2 {
    grid-area: gridBox2;
}

.gridBox3 {
    grid-area: gridBox3;
}

.gridBox4 {
    grid-area: gridBox4;
}

.gridBox5 {
    grid-area: gridBox5;
}

.gridBox6 {
    grid-area: gridBox6;
}

.info {
    grid-area: info;
    display: grid;
    grid:
    [row1-start] "titleBox" 150px [row1-end]
    [row2-start] "aboutBox" 480px [row2-end]
    / 300px;
}

.container {
    margin-top: 40px;
    margin-left: 40px;
    display: grid;
    gap: 30px;
    grid:
    [row1-start] "info gridBox1 gridBox2 gridBox3" 300px [row1-end]
    [row2-start] "info gridBox4 gridBox5 gridBox6" 300px [row2-end]
    / 300px 300px 300px 300px;
    justify-content: center;
}