@font-face {
    font-family: SuperMagic;
    src: url(fonts/Super\ Magic.ttf);
}

@font-face {
    font-family: LouisGeorgeCafeLight;
    src: url(fonts/Louis\ George\ Cafe\ Light.ttf);
}

body {
    background-color: rgb(253, 243, 243);
}

h1 {
    font-family: SuperMagic;
    font-size: 58px;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 0 0 15px 15px;
    padding: 0;
}

p {
    font-family: LouisGeorgeCafeLight;
    letter-spacing: 3px;
    color: #333333;
}

/**************** Home Page *****************/
.aboutP {
    font-size: 42px;
    margin: 20px 30px 15px 15px;
}


.aboutBox {
    grid-area: aboutBox;
    background-color: skyblue;
    border-radius: 25px;
}

.titleBox {
    grid-area: titleBox;
    color: chocolate;
}

.gridBox1 {
    grid-area: gridBox1;
    background-color:rgb(141, 141, 33);
    color:pink;
}

.gridBox2 {
    grid-area: gridBox2;
    background-color:skyblue;
    color:orchid;
}

.gridBox3 {
    grid-area: gridBox3;
    background-color: chocolate;
    color:rgb(253, 243, 243)
}

.gridBox4 {
    grid-area: gridBox4;
    background-color: chocolate;
    color:rgb(253, 243, 243);
}

.gridBox5 {
    grid-area: gridBox5;
    background-color: pink;
    color:rgb(141, 141, 33);
}

.gridBox6 {
    grid-area: gridBox6;
    background-color: orchid;
    color: #111111;
}

.box {
    border-radius: 25px;
    display: flex;
    align-items: flex-end;

}

.info {
    grid-area: info;
    display: grid;
    grid:
    [row1-start] "titleBox" 150px [row1-end]
    [row2-start] "aboutBox" 480px [row2-end]
    / 300px;
}

.container {
    margin-top: 40px;
    margin-left: 40px;
    display: grid;
    gap: 30px;
    grid:
    [row1-start] "info gridBox1 gridBox2 gridBox3" 300px [row1-end]
    [row2-start] "info gridBox4 gridBox5 gridBox6" 300px [row2-end]
    / 300px 300px 300px 300px;
    justify-content: center;
}